DEFAULT_ADMIN_USERNAME=random
DEFAULT_ADMIN_PASSWORD=random
DEFAULT_CALLCENTER_USERNAME=random
DEFAULT_CALLCENTER_PASSWORD=random
SIMULATED_2FA_EXPIRE_MINUTES=5
SIMULATED_2FA_CODE=
MAILBOX_MAX_MESSAGES=100
MAIL_SYSTEM_NAME=UniLibraryMail
